:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(220, 224, 232);
    --entry: rgb(239, 241, 245);
    --primary: rgb(30, 30, 46);
    --secondary: rgb(92, 95, 119);
    --tertiary: rgb(204, 208, 218);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(204, 208, 218);
    --border: rgb(230, 233, 239);
}

.dark {
    --theme: rgb(17, 17, 27);
    --entry: rgb(30, 30, 46);
    --primary: rgb(205, 214, 244);
    --secondary: rgb(186, 194, 222);
    --tertiary: rgb(49, 50, 68);
    --content: rgb(205, 214, 244);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(49, 50, 68);
    --border: rgb(24, 24, 37);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}

.dark a:hover{
    color: rgb(137, 220, 235);
}

a:hover{
    color: rgb(4, 165, 229);
}

.dark button:hover {
    color: rgb(137, 220, 235);
}

button:hover {
    color: rgb(4, 165, 229);
}
